
.card{
  @media screen and (max-width: 600px) {
    max-width: 320px;
    display: grid;
    margin: auto;

    
    
    img{
      max-width: 300px;
      height: 200px !important;
    }
    iframe{
      max-width: 250px;
    }
  }
  
   .head{
    
    padding:10px;
    display: grid;
     grid-template-columns: 1fr 1fr;
     gap:100px;
   }
   .left{
       
   .heading{
    @media screen and (max-width: 600px) {
     font-size: 15px;
    }
    font-size: 20px;
    margin-bottom: 4px;
   }
   .moment{
    font-size: 15px;
   }
}
.right{
    margin-left: auto;
}
}